.aboutPage img , .contactUsPage img
{
  max-width: 100%;
  height: auto;
}

.aboutPage .teamMembersWrapper
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.aboutPage
{
  text-align: center;
}
.aboutPage .teamMember img
{
  border-radius: 50%;
  width: 50%;
}

.contactUsPage .google-map
{
  height: 200px;
}

.resultPageCard .resultPageCardPicture
{
  height: 0;
  padding-top: 56.25%;
  max-width: 100%;
}

.resultPageCard button
{
  background-color: blue;
}

.resultsPage
{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  justify-content: center;
}

@media screen and (min-width: 1000px)
{
  .resultsPage
  {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
