/* ROD.CSS */

/* ===================== ======================== */
/* VARIABLE DECLARATION */
/* ===================== ======================== */

:root{
    /* --main-color: rgb(91, 101, 177); */
    --main-color: rgb(96, 96, 96);
}

/* ===================== ======================== */
/* PAGE LAYOUT */
/* ===================== ======================== */

#root{
  width: 90%;
  margin: auto;
}

.wrapper{
  margin: auto;
  box-sizing: border-box;
}

/* ===================== ======================== */
/* HEADER MENUS */
/* ===================== ======================== */

/* .Menu .header .left-side, */
.left-side, .right-side, .username{
  background-color: var(--main-color);
}

.HomePage-Content .Main-Menu .Menu .left-side img {
  height: 2rem;
  padding: 0 1rem;
}

.left-side{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

}

.HomePage-Content .Main-Menu .Menu header nav ul{
  justify-content: flex-end;
}

/* ===================== ======================== */
/* SURVEY QUESTIONS */
/* ===================== ======================== */


.first-question, .second-question, .third-question, .fourth-question{
  width: 65%;
  height: 6rem;
  margin: 2rem;
}

.sortable ul{
  padding: 0;
  display: inline;
  margin: auto;
}

.sortable li{
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-bottom: 1rem;

  text-align: center;
  color: var(--main-color);
  font-weight: 700;

  width: 15rem;
  height: 2.5rem;
  line-height: 2.5;

  list-style: none;
}


.surveyNav{
    width: 65%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* margin-left: 1.5rem; */
    /* padding: 0 4rem; */
}

.surveyNav a{
    text-decoration: none;
}

.btn{
    background-color: var(--main-color);
    height: 2.5rem;
    color: white;
    width: 5rem;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    font-size: .75rem;
    border-radius: 5px;
}

.rangeslider__fill{
    background: var(--main-color) !important;
}


.surveyDiv{
  display: flex;
  flex-flow: column nowrap;
  padding-left: 1.5rem;
}

.score table{
  margin: auto;
}

.score h3{
  padding-left: 3rem;
}

.question{
  display: flex;
  flex-flow: column nowrap;

  /* border: 1px solid black; */
  padding: 0 4rem;
  padding-bottom: 2rem;

}

.rangeslider__label-item {
  width: 5rem;
  text-align: left;
}

.sValue{
  padding-top: 1rem;
  font-size: .9rem;
  text-align: center;
  font-weight: 700;
}

.sprof{
  display: flex;
  flex-flow: row nowrap;

  box-sizing: border-box;
}

.schoolinfo{
  margin: 2rem;
  margin-left: 0;
}
.schoolinfo p{
  margin-left: 2rem;
}

.schoolinfo li{
  list-style: none;
}

.sprof img{

  /* width: 100%; */
  max-width: 500px;
  margin: 2rem;
}

.schoolinfo ul strong{
  font-size: 1.5rem;
}
