@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700|Rubik:400,500,700|Source+Sans+Pro:400,700');

/* ===================== ======================== */
/* VARIABLE DECLARATION */
/* ===================== ======================== */
:root{
    /* --main-color: rgb(91, 101, 177);*/
    --main-color: rgb(64, 83, 175);
    --secondary-color: #BFBFBF;
    --terceary-color: rgb(180, 180, 180);
    --materialui-blue: rgb(64, 83, 175);
    --offwhite-color: rgb(245, 245, 245);

    /* --cinza-profile-color: rgb(96, 96, 96);
    --cinza-header-color: rgb(74, 74, 74); */
    --otherblue: rgb(48, 129, 247);
    --blackopacity-color: rgba(0,0,0, .5);
}

/* ===================== ======================== */
/*              HEADER SIGNUP BUTTON              */
/* ===================== ======================== */

.signupButton, .fb-button{
width:200px;
height:50px;
align-self: center;
}

/* ===================== ======================== */
/*              SCHOOLRANK GRAPH LIST COMPONENT              */
/* ===================== ======================== */

.avatar
{
  margin: 10;
  background-color: orange !important;
  text-align: center;
  align-items: center;
}

.SchoolRankGraphList .schoolRankList
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.SchoolRankGraphList .schoolRankList li
{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 0.5rem;
  padding-bottom: 2rem;
}


/* ===================== ======================== */
/*             LIST OF SCHOOLS COMPONENT        */
/* ===================== ======================== */

.ListOfSchoolsCard
{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin: 1rem;
}

.ListOfSchoolsCard button
{
  background-color: blue;
}

.ListOfSchoolsCard a
{
  color: black !important;
}

.ListOfSchoolsCard .schRank{
  margin: 0;
}

.ListOfSchoolsCard h2{
  font-size: 1.5rem;
  font-weight: bold;
}

.ListOfSchoolsCard .btn a{
  color: white;
}

/* ===================== ======================== */
/*              LOGIN PAGE              */
/* ===================== ======================== */

.LoginContent,
.RegContent{
  height: auto;
  margin: 1rem;
  display: flex;
  flex-flow: column nowrap;

  /* background-color: var(--offwhite-color); */
}

.LoginContent div,
.LoginContent div form,
.LoginPage .LoginContent,
.RegContent div form,
.RegPage .RegContent
{
  background-color: var(--offwhite-color);
}

.RegContent .btn{
  margin-top: 2rem;
  margin-left: 10rem;
}

.LoginPage header a,
.RegPage header a,
.External header a{
  color: white;
}

.LoginContent .logAlternative a{
  color: blue;
}

.LoginContent .card-content{
  padding: 0 3rem;
}

.LoginContent .logAlternative{
    border-top: 2px solid lightgrey;
    margin-top: 2rem;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.LoginContent img, .RegContent img{
  width: 100%;

  /* background-color: var(--offwhite-color); */
}

.LoginContent div,
.LoginContent div form,
.LoginPage .LoginContent,
.RegContent div form,
.RegPage .RegContent{
  background-color: var(--offwhite-color);
}

.RegContent .btn{
  margin-top: 2rem;
  margin-left: 10rem;
}

.LoginPage header a,
.RegPage header a{
  color: white;
}

.LoginContent .logAlternative a{
  color: blue;
}

.LoginContent form{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.LoginPage header,
.LoginPage footer,
.RegPage header,
.RegPage footer,
.External header,
.External footer,
.landingPage footer{
  /* background-color: rgba(0,0,0, .5); */
  background-color: var(--blackopacity-color);
}

.LoginContent form .Input{
  width: 300px;
  margin-bottom: 2rem;
}

.LoginContent form button{
  width: 150px;
}

.LoginContent .gmail{
  background-color: rgb(234, 51, 36);
  margin: 1rem 0;

}

.LoginContent .logAlternative .fbsocial{
  background-color: darkgrey;
}

.LoginContent .sociaLogin{
  border: 2px solid grey;
  margin: 2rem;
  padding: 0  2rem;

  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.LoginContent .sociaLogin div{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

}

/* ===================== ======================== */
/* PAGE LAYOUT */
/* ===================== ======================== */


body {
    margin: auto;
    font-family: "Roboto", "Source Sans", "Helvetica", "Sans Serif";
}

#root{
  /* width: 100%; */

}

/* ===================== ======================== */
/*                 MENU / HEADER */
/* ===================== ======================== */
.HomePage a {
  color: white;
}

 .desktop{
  display: none;
  font-size: 1rem;
}

 .mobile{
  cursor: pointer;
}

 .left-side{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: white;
}

 .left-side,
 .right-side,
 .username{
  text-align: right;
  font-size: 1rem;
}

 header img {
  padding-left: 2rem;
  width: 70px;
}

header a{
  line-height: 1;
}

header,
footer{
    background-color: var(--main-color);
}

 header{
  position: sticky;
  display: flex;
  flex-flow: row nowrap;
  line-height: 4;
}

 header .username,
 header .right-side{
  flex: 0 0 5rem;
  justify-content: center;
  text-align: center;
  color: white;

}

 header .username{
  order: 1;
  border-right: 2px solid white;
}

 header .left-side{
  order: 2;
  flex: 1 0 50%;
}

 header .right-side{
  order: 3;
}

 header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 header nav ul li {
  padding: 0 2rem 0 0;
}

#bars ul li{
  list-style: none;
  padding-right: 1rem;
  line-height: 2;
  width: 150px;
  /* border: 1px solid white; */
}

#bars ul li a{
  text-decoration: none;
}
/* ===================== ======================== */
/*              SURVEY LINK                   */
/* ===================== ======================== */
/* .surveyLink{
  flex: 1 0 100%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #F4F1EF;
  border: 1px solid #606060;
  padding:.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.surveyLink p{
  margin-right: 1rem;
} */

.surveyButton{
  width:170px;
  height:50px;
  align-self: center;
}

.surveyButton a{
  text-decoration: none;
}

.CardHeader{
  background-color: rgba(0,0,0,.5);
  color: white;
  padding: .5rem 1rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border: 1px solid grey;
  border-radius: 5px 5px 0 0;
}

.CardHeader p{
  margin: .2rem 0;
}

.aboutPage .CardHeader a{
  color: white;
}

/* ===================== ======================== */
/*               CONTENT AREA                     */
/* ===================== ======================== */

.Main{
  margin: 3%;
  display: flex;
  flex-flow: column nowrap;

  background-color: white;
}

.HomePage,
.landingPage,
.LoginPage,
.RegPage{
  height: 100vh;
}

.Main form ul li svg{
  padding-right: 1.5rem;
}


.Main .Content form{
/* text-align: center; */
flex: 1 0 90%;
}


.Main .Content form select{

  display: flex;
  flex-flow:column nowrap;
  width:200px;
  /* width:auto; */
  height:45px;
  /* background-color: #5B62B9; */
  background-color: var(--main-color);
  color: white;
  padding:1%;;
  font-size: 20px;
  cursor: pointer;
  margin:2%;
}

.Main .Content form select:hover{
  border: 2px solid #5B24B9;
}

.Main .Content form select ul{
  display:flex;
  justify-content: space-between;
}

.Main .Content form select option{
text-align:center;

}

.Main .Content .top-content{
  /* margin:2rem 2rem .5% .5%; */
  margin: 1% 0;
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
}




/* ============InterestingFacts=============== */
.InterestingFacts {
margin:1%;
}

.InterestingFacts  ul{
  color:black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: .3rem;

}

.InterestingFacts  ul li{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1rem;
  border-bottom: 2px solid black;
  margin: auto;
  padding: 1rem;
  width: 15rem;
  /* flex: 0 0 27%; */

}
/* ===================== ======================== */
/*               PROFILE area */
/* ===================== ======================== */

 .Main .Profile  {
    padding: 2rem;
    margin-bottom: 1rem;
}

/* .Main .hideProfile .Profile{
  display: block;
} */

.Main .Profile .user-info  {
  background-color: #606060;
  height:auto;
  padding:.3rem;
  box-shadow: 8px 8px 0px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  margin-top:4rem;
  font-size:1rem;
}


 .Main .Profile .user-info  h2{
  list-style-type: none;
  display:flex;
  flex-flow:column wrap;
  color:white;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

 .Main .Profile  div h2{
  padding-bottom: 1rem;
  margin-top: 0rem;
}

.Main .Profile  h3{
  text-align: center;
}

.Main .Profile .user-info  h2 li:nth-of-type(odd){
  border-bottom: 1px solid white;
  margin:.5rem;
  font-weight: bold;
  font-size: 1.1rem;
}

.Main .Profile .user-info  h2 li:nth-of-type(even){
  margin:1rem;
  font-size: 1rem;
}

 .Main .Profile .name{
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #606060;
  margin:1%;
  font-weight: bold;
  font-size: 1.5rem;
  color:#606060;
}


.Main .Profile .profileCompletion{
  margin-top:1.5rem;
  margin-bottom:1.5rem;

  position: relative;
}

.profileCompletionNumber{
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color:black;

  position: absolute;
  bottom: 0;
  right: 10px;
}
/* ===================== ======================== */
/*              CHARTS */
/* ===================== ======================== */

.charts>div{
  /* padding: 2%; */
  margin:3%;
  /* background-color: #9497FF; */
  background-color: #BFBFBF;

}

.graphContainer{
  display:flex;
  flex-flow:row wrap;
  margin: 1rem;
}

.graphDescription{
  margin: 2rem 3rem 0 3rem;
}

.graphContainer h2{
    margin-bottom: 2rem;
    margin-top: 0;
}

.charts{
  background-color: var(--offwhite-color);
  border:3px solid #B5B5B5;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin: 1rem 0;
}




/* ===================== ======================== */
/*                 SURVEY                         */
/* ===================== ======================== */

.HomePage .Main div .surveyDiv{
  grid-column: 2/3;
  grid-row: 1;

  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;

  border-radius: 0 0 5px 5px;
}

.survey1, .survey3, .score{
  background-color: var(--terceary-color);
  border: 1px solid var(--blackopacity-color);
}

.question{
  display: flex;
  flex-flow: column nowrap;
  /* padding: 0 4rem; */
  /* height: auto; */
}

.sortable ul{
  padding: 0;
  display: inline;
  margin: auto;
}

.sortable p{
  padding: 0 1.5rem;
}

.sortableItem{
  border: 1px solid var(--main-color);
  border-radius: 5px;
  margin-bottom: 2rem;

  text-align: center;
  color: var(--main-color);
  font-weight: 700;

  width: 15rem;
  height: 2.5rem;
  line-height: 2.5;

  list-style: none;
}

.surveyNav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    padding: 2rem;

}

.surveyNav a{
    text-decoration: none;
}

.surveyNav p{
    padding: 0;
}


.btn{
    width:150px;
    height: 2.4rem;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    background-color: var(--materialui-blue);
    text-align: center;
    /* line-height: 2; */

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }

  .btn a{
    text-decoration: none;
  }

.rangeslider__fill{
    background: var(--main-color) !important;
}

.rangeslider__label-item {
  width: 5rem;
  text-align: left;
}

/* ===================== ======================== */
/*                 ENGINE PAGE        */
/* ===================== ======================== */

/* .score table{

  column-width: auto;
  padding: 1rem 0 3rem 0;
  margin: 0 -1.5rem;
}

.score table tr:nth-child(odd) {
    background-color: #fff;
}

.score table tr:nth-child(even) {
    background-color: var(--terceary-color);
}

.score table .col{
  text-align: center;
}

.score table th{
  text-align: left;
}

.score table td, .score table th{
  padding: 8px;
}

.score h3{
  padding-left: 0rem;
  color: var(--main-color);
}

.score a{
  color: black;
} */



/* ========================================================= */
.resultsPage{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr ;
  justify-content: center;

  margin-bottom: 13rem;
}

.resultsPage .CardHeader{
  grid-row: 1;
  margin: 0;
  border: 1px solid grey;
}

.resultsPage .resultPageCard{
  margin-bottom: 1rem;
}

.resultsPage .resultPageCard .CardContent h2{
  font-weight: bold;
}

.resultsPage .btn{
  width: 110px;
}

.ResultsPageNew .userMsg{
  display: flex;
  flex-flow: row nowrap;
  height: 500px;
  border: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
  padding: 2rem;
}

.resultsPageNew .userMsg .awe{
  flex: 1 0 20%;

}

.resultsPageNew .userMsg div{
  flex: 1 0 20%;
}

.resultsPageNew .userMsg p{
  flex: 0 0 60%;
}

/* .resultsPage .resultPageCard .CardContent{
  display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 2fr 1fr;
grid-gap: 2rem;

} */

.resultsPage .resultPageCard button
{
  /* grid-column: 3/4;
  grid-row: 2; */
  background-color: var(--main-color);
  height: 2.5rem;
  font-size: .75rem;


}


/* ===================== ======================== */
/*                 SCHOOL PROFILE        */
/* ===================== ======================== */

.schoolPage{
  overflow: hidden;
}

.resultsPage .MuiCard-root-1,
.schoolPage .MuiCard-root-1{
  background-color: var(--offwhite-color);
}

.schoolPage .MuiCard-root-1{
  padding: 1rem;
  margin-bottom: 1rem;
}

.sValue{
  font-size: .9rem;
  font-weight: 700;
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid black;
}

.sprof{
  /* display: flex;
  flex-flow: column nowrap;

  box-sizing: border-box; */
  padding: 1%;
}

.sprof img{
  /* flex: 1 0 95%; */
  width: 100%;
}

/* .sprof div .btn{
  position: absolute;
  right: 5%;
  background-color: red;

} */

.schoolinfo{
  background-color: var(--offwhite-color);
  padding: .5rem;

}

.schoolinfo ul{
  display: flex;
  flex-flow: row wrap;
}

.schoolinfo ul .schDet{
  flex: 0 0 90%;
  width: 90%;
}

.ListOfSchoolsCard .schRank,
.schoolinfo ul .schRank{
  border: 1px solid black;
  border-radius: 5px;
  flex: 1 0 40%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: .5rem .1rem;

  margin: 2rem 2% 0 2%;
  text-align: center;
  min-width: 145px;
}


.schoolinfo ul .schRank span{
  font-size: 3rem;
}

.schoolBtns{
  /* border-top: 2px solid var(--main-color); */
  padding-top: 1rem;
  margin: 0 1rem;

  display: flex;
  flex-flow: row wrap;

  justify-content: space-between;
  box-sizing: border-box;
}

.schoolBtns button{
      flex: 0 0 18%;
      background-color: var(--main-color);
      height: 2.5rem;
      color: white;

      font-size: .75rem;
      border-radius: 5px;
}

.snowfall{
  flex: 1 0 45%;
}

.schoolinfo button{
  margin-top: 2rem;
}

.schoolinfo p{
  margin-left: 2rem;
}

.schoolinfo a{
  color: blue;
}

.schoolinfo li{
  list-style: none;
  line-height: 1.5;
}

.schoolinfo ul{
  padding: 0;
  margin: 0;
}

.schoolinfo .schDet{
  line-height: 1.3;
  font-size: .8rem;
}


.schoolinfo ul strong{
  font-size: 1.5rem;
}

/* .schoolinfo ul{
  display: flex;
  flex-flow: column wrap;
} */



/* ===================== ======================== */
/*              ABOUT                */
/* ===================== ======================== */

.aboutPage{
  display: flex;
  flex-flow: column nowrap;
}

.aboutPage img{
  width: 100%;
  height: auto;
}

.aboutPage h2{
  margin-top: 0;
}

.aboutPage a{
  color: blue;
}

.aboutPage .aboutEduvisors,
.aboutPage .aboutMission{
  flex: 1 0 45%;
  padding: 2%;
  margin-bottom: 1rem;
}

.aboutPage .teamMembersWrapper{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  text-align: center;
  background-color: var(--offwhite-color);

}

.aboutPage .teamMembersWrapper h2{
  align-self: flex-start;
  margin-bottom: 3rem;
}

.aboutPage .aboutMission{
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--offwhite-color);
  border-radius: 0 0 5px 5px;
}

.aboutMission .Mission{
  flex: 0 0 30%;
  /* padding: 0 1rem; */
}

.aboutMission .pCenter{
  margin: 2rem;
  font-size: 1.3rem;
  text-align: center;
}



.aboutMission .teamMembersWrapper div{
  line-height: 1;
  }

.aboutEduvisors{
  margin: 0;
}

.aboutEduvisors p{
  text-align: left;
}

.aboutPage .aboutMission .vid{
  /* margin: 4% 0; */
}


.aboutPage .teamMember{
  /* display: inline; */
  width: 55%;
  margin-bottom: 3rem;
  line-height: .7;
}

.aboutPage .t5,
.aboutPage .teamMember{
  position: relative;
}

.aboutPage .teamMember a{
  width: 3rem;
  position: absolute;
  left: 0;
}

.aboutPage .teamMember img{
  border-radius: 50%;
  width: 100%;
  max-width: 240px;
}

.vid{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.vid iframe{
	position: absolute;
	top: 0;
	left: 30px;
	width: 80%;
	height: 80%;
  /* margin: auto; */
}


/* ===================== ======================== */
/*               CONTACT US PAGE                     */
/* ===================== ======================== */

.contactUsPage{
  display: flex;
  flex-flow: column nowrap;
}

.contactUsPage h2{
  margin-top: 0;
}

.contactUsPage img{
  width: 100%;
  height: auto;
}

.contactUsPage .TxtField{
  width: 100%;
}

.contactUsPage .surveyButton{
  margin: 3rem 10rem;
}


/* .contactUsPage .TeamPic, */
.contactUsPage .contactUsFormWrapper{
  flex-flow: 0 0 90%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 1rem;
  margin: 2rem 0;
}

.contactUsPage div .google-map{
  height: 200px;
  flex: 1 0 100%;
  margin-bottom: 2rem;
}

.External .contactUsPage,
.External .aboutPage
{
  margin: 2%;
  /* padding: 4%; */
}

.contactUsFrame{
  padding: 1rem;
  background-color: var(--offwhite-color);
}

/* ===================== ======================== */
/*             LIST OF SCHOOLS COMPONENT        */
/* ===================== ======================== */

.ListOfSchoolsCard .schRank{
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.5;
    border: none;
}

.ListOfSchoolsCard .schRank span{
    font-size: 3rem;
}

/* ===================== ======================== */
/*               FOOTER AREA                     */
/* ===================== ======================== */

footer{
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
  background-color: var(--main-color);

}

footer .left-side{
  margin-left: 1.5rem;
}


/* .landingPage footer .left-side ul{
  display: flex;

  list-style-type: none;
  padding: 0;
  margin: 0;

  display: none;
} */

footer .right-side ul, .landingPage footer .right-side ul{
  display: flex;
  justify-content: flex-end;

  list-style-type: none;
  padding: 0;
  margin: 0;

  text-align: right;

}

footer li, .landingPage footer li{
  padding-right: 2rem;
  line-height: 4;
}

footer a{
  color: white;
}

.resultPageCard .resultPageCardPicture
{
  height: 0;
  padding-top: 56.25%;
  max-width: 100%;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*                 DESKTOP VIEW        */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 1000px)
{

/* ===================== ======================== */
/* PAGE LAYOUT */
/* ===================== ======================== */
  #root{
    /* width: 100%;
    margin: auto; */
  }

  .ResponsiveDrawer-root-1{
    flex-flow: column nowrap;
  }

  .ResponsiveDrawer-content-6,
  #root main{
    padding: 0;
    margin-top: 1%;
  }


  /* #root header .ResponsiveDrawer-appBar-2{
    position: static;
    width: 100%;
  }

  .ResponsiveDrawer-drawerPaper-5{
    position: static;
  }

  .MuiAppBar-positionFixed-8{
    position: static;
  } */


/* ===================== ======================== */
/*               CONTENT AREA                     */
/* ===================== ======================== */



  .Main{
    margin: 1%;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
  }

  .Content{
    grid-column: 2 / 3;
    grid-row: 1;

    display: flex;
    flex-flow: column nowrap;
  }

  .employement{
    display: flex;
    flex-flow: row nowrap;
  }

  .costofliving{
    display: flex;
    flex-flow: column nowrap;
  }

/* ===================== ======================== */
/*                 InterestingFacts */
/* ===================== ======================== */
.InterestingFacts  ul li:nth-last-of-type(3){
justify-content: center;

}

/* ===================== ======================== */
/*                 MENU / HEADER */
/* ===================== ======================== */

  header .desktop{
    display: block;
  }

   header .mobile{
    display: none;
  }

  .LoginPage header .mobile,
  .RegPage header .mobile,
  .External header .mobile{
   display: block;
   text-align: right;
   margin-right: 2rem;
 }

   header .username{
    order: 3;
    flex: 0 0 1%;
  }

   header .username a{
    border-left: 2px solid white;
    line-height: 4;
  }


  /* header .left-side a{
   line-height: 4;
 } */

   header .left-side{
    order: 1;
    flex: 1 0 15%;
  }

   header .right-side{
    order: 2;
    flex: 1 0 50%;
  }

  .surveyLink{
    /* background-color: var(--offwhite-color); */
    background-color: red;
    border-radius: 5px;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 3rem;
    margin-top: .5rem;
    line-height: 3;
    text-align: center;

    padding: 0 1rem;

  }

  .surveyLink a{
    padding: 0 .5rem;

  }


  /* ===================== ======================== */
  /*              LOGIN              */
  /* ===================== ======================== */

.LoginContent, .RegContent{
  margin: 5rem auto;
  max-width: 800px;
  height: auto;

  display: flex;
  flex-flow: row nowrap;

  box-sizing: border-box;
}

.LoginContent img{
  width: 100%;
  height: auto;
  max-width: 320px;
}

.LoginContent .sociaLogin{
  border: none;
  border-left: 2px solid grey;
}

.LoginContent .card-content{
  padding: 0 6rem;
}

/* .LoginContent div, .LoginContent div form, .LoginPage .LoginContent,
.RegContent div form, .RegPage .RegContent{
  background-color: var(--offwhite-color);
} */

.RegContent .btn{
  margin-top: 9rem;
  margin-left: 2rem;
}

/* ===================== ======================== */
/*                 ABOUT PAGE */
/* ===================== ======================== */

.aboutPage{
  grid-column: 2 / 3;
  grid-row: 1;
}

.vid iframe{
	left: 100px;
}

/* .aboutMission{
  display: flex;
  flex-flow: row nowrap;
} */

.aboutPage .teamMembersWrapper{
  margin-top: 1rem;
  padding: 2%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .2fr .7fr .7fr .7fr;

  justify-items: center;

  /* display: flex; */
  /* flex-flow: row wrap; */
  /* justify-content: space-around; */
}

.aboutPage .teamMembersWrapper h2{
  grid-column: 1 / 3;
  grid-row: 1;
  justify-self: start;
  margin-left: 1rem;

}


.aboutPage .teamMembersWrapper .t1{
  grid-column: 1 / 2;
  grid-row: 2;
}


.aboutPage .teamMembersWrapper .t2{
  grid-column: 2 / 3;
  grid-row: 2;
}


.aboutPage .teamMembersWrapper .t3{
  grid-column: 1 / 2;
  grid-row: 3;
}


.aboutPage .teamMembersWrapper .t4{
  grid-column: 2 / 3;
  grid-row: 3;
}


.aboutPage .teamMembersWrapper .t5{
  grid-column: 1 / 3;
  grid-row: 4;

}


.aboutPage .teamMembersWrapper .t5 img{
  max-width: 230px;
}

/* ===================== ======================== */
/*               CONTACT US PAGE                     */
/* ===================== ======================== */

.contactUsPage{
  grid-column: 2 / 3;
  grid-row: 1;

  display: flex;
  flex-flow: column nowrap;

  /* margin: 1%; */
  /* margin-left: 2rem; */
}

.contactUsPage img{
  margin-top: 3rem;
}

.contactUsFrame{
  display: flex;
  flex-flow: row wrap;

  box-sizing: border-box;

  border: 1px solid lightgrey;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
  margin-bottom: 2rem;

  background-color: var(--offwhite-color);
}

.contactUsFrame h2{
  flex: 1 0 90%;
}

.contactUsFrame img{

  height: 100%;
  max-width: 45%;
  margin-top: 0;
}

.contactUsFrame .contactUsFormWrapper{
  /* flex: 1 0 45%; */
  width: 45%;

  border: none;
  margin: 0;
  padding: 0 0 0 2rem;
}




/* ===================== ======================== */
/*               PROFILE area */
/* ===================== ======================== */

/* .HomePage{
  position: absolute;
} */

.Main .Profile .user-info {
  background-color: #606060;
  margin:1%;
  color:white;
}

 .Main .hideProfile .Profile {
   display: block;

 }

 .Main .Profile {
  display: block;
  position: sticky;
  top: 0;

  grid-column: 1 / 2;
  grid-row: 1;

  /* margin:1%; */
  border: 1px solid lightgrey;
  padding: 1rem;

  height: 85%;
  width: 20vw;
  z-index: 0;
}

/* ===================== ======================== */
/*                 SURVEY                         */
/* ===================== ======================== */
.HomePage .Main div .surveyDiv{

  display: flex;
  flex-flow: column nowrap;
  border-radius: 0 0 5px 5px;
}

.survey1, .survey3, .score{
  padding: 1.5rem 3rem;
}

.survey2, .survey4{
  background-color: var(--secondary-color);
}


/* ===================== ======================== */
/*                 ENGINE              */
/* ===================== ======================== */

/* .score table td, .score table th{
  padding: 8px;
} */

.resultsPage{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1.7fr 1fr;
  /* grid-gap: 1rem; */
}

.resultsPage .resultPageCard {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 1rem;
}

.resultsPage .cardPicture{
  grid-column: 1;
}


.resultsPage .CardHeader{
  grid-column: 1/-1;
}

.HomePage .Main .resultsPage .resultPageCard:nth-of-type(2){
  grid-column: 1/3;
  grid-row: 2;
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
}

.resultsPage .resultPageCard:nth-of-type(4){
  grid-column: 1/2;
  grid-row: 3;
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
  margin-right: 1rem;
}

.resultsPage .resultPageCard:nth-of-type(3){
  grid-column: 2/3;
  grid-row: 3;
  border-bottom: 1px solid #606060;
  padding: 1rem;

}

/* ===================== ======================== */
/*                 SCHOOL PROFILE        */
/* ===================== ======================== */

.sprof{
      grid-column: 2 / 3;
      /* margin: 1% 0; */
      padding: .5rem;
      /* margin-left: 3rem; */
      display: flex;
      flex-flow: row wrap;

      box-sizing: border-box;
}

.sprof .schoolImg{
      flex: 0 0 45%;
      margin-right: 2rem;
}

.schoolinfo{
      flex: 1 0 45%;
      /* margin: 2rem; */
      margin-left: 0;
}




.sprof .schoolBtns{
      flex: 1 0 100%;
}

.sprof .snowfall{
      flex: 1 0 90%;
      display: flex;
      flex-flow: column nowrap;
      margin: 2rem;;
}

} /*   end of MEDIA QUERY */

/* ===================== ======================== */
/*               LANDING PAGE                    */
/* ===================== ======================== */

/* .landingPage .landing-header{
  display: block;
} */

.landingPage .landing-header header{
  /* display: flex; */
  width: 100%;
  position: relative;
  z-index: 99;
  background-color: black;
  opacity: .9;
  line-height: 4;
  height: 4rem;
}

.landingPage .landing-header .left-side a img{

  /* max-width: 85px; */
}

.landingPage .landing-header .right-side .mobile{
  color: white;
  position: absolute;
  right: 0;
  top:-2rem;
  font-size: 2rem;
  width: 40px;
  z-index: 99;
}
.signupButton{
  /* display:none; */
/* max-width:200px; */
/* height:auto; */
/* align-self: center; */
}

.landingPage .graphDescription{
  margin: 1rem;
}

.landingPage .landing-header ul{
  display: none;
list-style-type: none;
/* align-items: flex-end; */
}

.landingPage .landing-header ul li a{
  color:white;
  text-decoration: none;
}
.landingPage .landing-header ul li:hover a{
  color: darkslategray;
  font-weight: 500;
  text-decoration: underline;
}
.landingPage .landing-header ul li:hover{
  background-color:var(--secondary-color);
}

.landingPage .landing-image img{
  width: 100%;
  height: auto;
  position: relative;
  display: block;

}

.landingPage .landing-info h3{
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  margin-top: 0;
}

.landingPage .landing-info{
  background-color: #5b62b9;
  opacity: .73;
  margin-top: 0;
}

.landingPage .contentBody{
  margin: 1%;
}

.landingPage .signup-video{
  display:flex;
  max-width:90%;
  margin:auto;
  text-align: center;
  flex-flow: row wrap;
  padding-bottom: 1rem;

}
.landingPage .signup-video div{
  flex: 1 0 25px;

  /* max-width: 3rem; */
  margin: .2rem;

  /* margin-left: 1rem; */
}
.landingPage .signup-video div a{
  color:white;
  text-decoration: none;
  font-size: 1rem;
}

.landingPage .landing-chart1{
  margin-top: 4rem;
}

.landingPage .landing-chart1 .Bar{
  height: auto!important;
  width: 100%!important;
  margin: auto;

}

.landingPage .landing-chart1 .graphContainer, .landingPage .landing-chart2 .graphContainer{
  /* font-size: 1rem; */
  height: auto!important;
  width: 80%!important;
  margin: auto;
  flex-flow: column wrap;

}




.landingPage .landing-chart1 .graphContainer{
  background-color:var(--secondary-color);
  padding: 2rem;
  border-radius: 2rem;
}


.landingPage .landing-chart2 .graphContainer{
background-color: var(--secondary-color);
padding: 0 2rem;
border-radius: 2rem;
color: darkslategray;
margin-bottom: 2rem;
}
.landingPage .landing-chart1 .graphContainer h2, .landingPage .landing-chart2 .graphContainer h2{
  color: white;


}

.landingPage .landing-chart1 .graphContainer h2, .landingPage .landing-chart2 .graphContainer h2{
  padding: 1rem 0;
}




.landingPage .landing-chart1 div p, .landingPage .landing-chart2 div p{
  /* font-size: 1rem; */
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  font-size: .75rem;
}
.landingPage .landing-chart1 div p{
  color:darkslategrey;
}

.landingPage .landing-features{
  /* display:flex; */
  /* flex-flow: column nowrap; */
  /* background-color: #5b62b9; */
  /* padding: 4rem; */
  text-align: center;
  /* max-width: 80%;
  margin: auto; */
  /* border: 4px solid darkslategray; */
    /* margin: 1rem 3rem; */
    /* background-color: rgb(64, 83, 175); */
    /* color: white; */
}

.landingPage .landing-features .features{

  /* max-width:60%; */

margin-top: 2rem!important;
  /* margin: auto; */

}
.landingPage .landing-features .feature-set{
  display: flex;
  flex-direction: column;
  /* border: 4px solid darkslategray;
    margin: 1rem 4.5rem;
    background-color: rgb(64, 83, 175);
    color: white; */
    max-width: 90%;
    margin: auto;

}
.landingPage .landing-features .feature-set h3{
  font-weight: lighter;
}

.landingPage .landing-features .features img{
background-color: #9497ff;
height: auto;
max-width: 100px;
border-radius: 1rem;

padding: 2rem;
/* margin: 1rem; */
}
/* .landingPage .landing-features .landing-chart2 {
  background-color: #9497ff;
  color: white;
  letter-spacing: 1px;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;

} */

.landingPage .landing-features .landing-chart2 .graphContainer h2{
  margin: auto;
  letter-spacing: 1px;
}
@media screen and (min-width: 1000px)
{

  .landingPage .landing-header header{
    position: absolute;
    opacity: .5;

  }
  .landingPage .landing-header .right-side .mobile{
    display: none;
  }
  .landingPage .landing-header .right-side .desktop{
    display: block;
z-index: 99;
color: black;
  }
  .landingPage .landing-image {
    position: relative;
  }
  .landingPage .landing-image .landing-info h3{
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    max-width: 400px;
    background-color: inherit;
    border-radius: 1rem;
  }
  .landingPage .signup-video .videoButton{
    position: relative;
  }

  .landingPage .signup-video{
    padding-bottom: 0;
  }
  .landingPage .signup-video{
    height: 0;
  }
  .landingPage .signup-video .signupButton Button{
    position: absolute;
    top:.65rem;
    right: 2rem;
    z-index: 99;
    height: 1rem;
    width: 7rem;



  }

  .landingPage .signup-video .videoButton Button{
    position: absolute;
    bottom:6.65rem;
    right: -2rem;
    z-index: 99;
    height: 3rem;
    width: 9rem;
    background-color: white;
}


.landingPage .signup-video .videoButton Button a{
  color:#3f51b5;
}
.landingPage .landing-chart1 .graphContainer h2{
  /* font-size: 1rem; */
  margin: auto;
  margin-bottom: 1rem;
}

.landingPage .landing-chart1  div p, .landingPage .landing-chart2 div p{
  /* font-size: 1rem; */
width: 80%;
text-align: center;
margin: auto;
margin-top: 2rem;
margin-bottom: 3rem;
font-size: 1rem;
}

.landingPage .landing-features .feature-set{
  display: flex;
  /* flex-flow: row-wrap; */
  flex-direction: row;
}

.landingPage .landing-features .features{
  flex:1 1 33%;
}
.landingPage .landing-header ul{
  display: flex;
  /* align-self: flex-end; */
  width: 30%;
  position: absolute;
  top: 0rem;
  right: 9rem;
}
.landingPage .landing-header ul li {
  flex: 1 0 10%;
  padding: 0;
  margin-right: .2rem;
}
.landingPage .landing-chart1 .graphContainer h2{
  border-bottom: 2px solid white;
  padding: 0 2rem;
  border-radius: .5rem;
}

.landingPage .landing-chart2 .graphContainer h2{
    border-bottom: 2px solid white;
    width: 18rem;
    border-radius: 1rem;
}

/* ===================== ======================== */
/*              SCHOOLRANK GRAPH LIST COMPONENT              */
/* ===================== ======================== */


.SchoolRankGraphList .schoolRankList
{
  grid-template-columns: 1fr 1fr 1fr;
}


}
