/* MAIN.CSS */
aside, main, .App-header{
  /* border: 1px solid black; */
}

.wrapper{
  display: flex;
  flex-flow: row nowrap;
}

.wrapper aside{
  flex: 1 0 30%;
}

.wrapper main{
  flex: 1 0 70%;
}
